#header-title{
    color:#fff;
    text-align: center;
}
.gradient-hr{
    border:none;
    height: 0.8rem;
    background: linear-gradient(60deg,rgba(137, 83, 173, 1) 12%, rgba(253, 29, 29, 1) 55%, rgba(252, 176, 69, 1) 90%);
}